/* App.css */

body {
  overflow: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.header {
  background-color: #282c34;
  color: #61dafb;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
}

.bot-card {

  padding: 10px;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.bot-collection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.bot-army,
.bot-collection {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 70vh;
  overflow-y: scroll;
  margin-right: 10px;
  width: 85%;
}

.bot-army h2,
.bot-collection h2 {
  margin-top: 0;
  color: #282c34;
}

.bot-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.bot-item:last-child {
  border-bottom: none;
}

.button {
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4fa3c4;
}
